@tailwind base;
@tailwind components;
@tailwind utilities;

.c-toggle {
  box-shadow:
    inset 0px 1px 3px rgba(0, 0, 0, 0.4),
    inset 0px -1px 3px rgba(255, 255, 255, 0.4);
}
.c-toggle--bg-light {
  @apply bg-[#ebebeb];
}
.c-toggle--bg-dark {
  @apply bg-[#242424];
}
.c-toggle--light {
  @apply bg-gradient-to-r from-[#ffcc89] to-[#d8860b];
}
.c-toggle--dark {
  @apply bg-gradient-to-b from-[#777] to-[#3a3a3a];
}

.c-input--shadow {
  box-shadow: 13px 13px 21px rgba(131, 4, 4, 0.05);
}

.c-title-marker {
  @apply relative pl-8;
}
.c-title-marker::before {
  @apply absolute top-1/2 left-0 -translate-y-1/2 w-7 bg-[#ea4343] h-1;
  content: '';
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(5px);
  }
}
